<div class="body">
 <div class="d-flex justify-content-center align-items-center">
   <div class="row justify-content-center align-items-center w-100">
     <div class="col-sm-12 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <%= image_tag("time.jpg") %>
          <div class="card-body">
              <h5 class="card-title">Choose the time of your adventure</h5>
          </div>
      <div class="card-body">
          <div class="sub-choice">
            <div>
            <%= link_to 'Day', { controller: 'trips', action: 'trip_choice', choice: 'day' }, class: "choicebtn" %>
            <%= cl_image_tag("https://res.cloudinary.com/trip-buddy/image/upload/v1628841571/trip%20buddy/sun_ssjdiw.png", width: "30px", height: "30px",  class: "icon") %>
            </div>
          </div>
          <div class="sub-choice">
            <div>
            <%= link_to 'Night', { controller: 'trips', action: 'trip_choice', choice: 'night' }, class: "choicebtn" %>
            <%= cl_image_tag("https://res.cloudinary.com/trip-buddy/image/upload/v1628841570/trip%20buddy/moon_3_v7glu9.jpg", width: "30px", height: "30px",  class: "icon") %>
            </div>
          </div>
      </div>
  </div>
</div>





