<div class="body">
 <div class="d-flex justify-content-center align-items-center">
   <div class="row justify-content-center align-items-center w-100">
     <div class="col-sm-12 d-flex justify-content-center">
      <div class="card banner" style="width: 18rem;">
        <%= image_tag("time.jpg") %>
          <div class="carded-body ">
              <h5 class="banner-title">Choose the time of your adventure</h5>
          </div>
      <div class="carded-body d-flex flex-column align-items-center justify-content-around">
          <div class="sub-choice">
            <div class="choicebtn  d-flex justify-content-around align-items-center">
            <%= link_to 'Day', { controller: 'trips', action: 'trip_choice', choice: 'day' } %>
            <%= cl_image_tag("https://res.cloudinary.com/trip-buddy/image/upload/v1628841571/trip%20buddy/sun_ssjdiw.png", width: "60px", height: "60px", class: "icon") %>
            </div>
          </div>
          <div class="sub-choice">
            <div class="choicebtn d-flex justify-content-around align-items-center">
            <%= link_to 'Night', { controller: 'trips', action: 'trip_choice', choice: 'night' } %>
            <%= cl_image_tag("https://res.cloudinary.com/trip-buddy/image/upload/v1628841570/trip%20buddy/moon_3_v7glu9.jpg", width: "60px", height: "60px",  class: "icon") %>
            </div>
          </div>
      </div>
  </div>
</div>
