<div class="d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path('v1628680476/trip buddy/illustration/6253191_sura5a.jpg
') %>')">
  <div class="row justify-content-center align-items-center w-100">
    <div class="col-sm-12 d-flex justify-content-center">
      <div class="my-3">
        <%= image_tag("logo.png", width: "70px", height: "70px") %>
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">
      <h1>When you want it?</h1>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">
      <div class="sub-choice">
        <%= link_to 'Day', { controller: 'trips', action: 'trip_choice', choice: 'day' }, class: "glass" %>
      </div>
    </div>
      <div class="sub-choice">
        <%= link_to 'Night', { controller: 'trips', action: 'trip_choice', choice: 'night' }, class: "glass" %>
      </div>
      <div class="sub-choice">
        <%= link_to 'return to home', :back, class: "glass" %>
      </div>
  </div>
</div>
